@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  background: url("../images/travelworthy-backdrop.jpg") no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  background: #1e1b1e url("../images/travelworthy-logo.gif") no-repeat;
  width: 230px;
  height: 180px;
  float: left;
  text-indent: 100%;
  overflow: hidden;
  margin: 0;
}

#info {
  position: absolute;
  top: 0;
  right: 15%;
  background-color: #1e1b1e;
  color: white;
  width: 200px;
  padding: 15px;
}

#info h2 {
  color: #adffda;
  margin-top: 20px;
}

#hotel1, #hotel2, #hotel3 {
  margin-top: 1em;
  padding: 10px 0;
  border-top: 1px solid white;
}

#hotel3 {
  border-bottom: 1px solid white;
}
