
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'BoeticherRegular', sans-serif;
    color: #665544;
    text-align: center;
}


body {
    background-image: url('https://i.ytimg.com/vi/Rht4_mx98qU/maxresdefault.jpg?sqp=-oaymwEmCIAKENAF8quKqQMa8AEB-AHUBoAC4AOKAgwIABABGH8gNygWMA8=&rs=AOn4CLAcAQ4hbd6AllRctXFOpt6o2WJ3Iw');
    background-size: cover;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}


#header {
    padding: 1em;
    background-color: #6A5ACD;
    color: white;
}

#nav {
    background-color: #6A5ACD;
    padding: 1em;
}

#nav ul {
    list-style: none;
    padding: 0;
}

#nav ul li {
    display: inline;
    margin-right: 1em;
}

#nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}


#content {
    margin: 1% auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#feature {
    background-color: #8CC63E;
    background-image: url('https://i.pinimg.com/originals/9c/8c/da/9c8cdaf53039c71497878c14ae6722fd.jpg');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    height: 10em;
    margin-bottom: 1%;
    padding: 1em;
    flex: 1 100%;
}

.article {
    height: 10em;
    padding: 1em;
    margin-bottom: 1%;
    text-align: center;
}

.column1 {
    background-color: #FFB6C1;
    flex: 1 1 30%;
}

.column2 {
    background-color: #DC143C;
    flex: 1 1 30%;
}

.column3 {
    background-color: #D8BFD8;
    flex: 1 1 30%;
}


#footer {
    background-color: #696969;
    color: white;
    padding: 1em;
    clear: both;
    text-align: center;
    margin-top: 2em;
}
