* {
    font-family: BoeticherRegular, sans-serif;
    color: #665544;
    text-align: center;
}

p {
    font-family: 'BoeticherRegular', sans-serif;
    font-weight: normal;
    font-style: normal;
}


body {
    background-image: url('https://i.ytimg.com/vi/Rht4_mx98qU/maxresdefault.jpg?sqp=-oaymwEmCIAKENAF8quKqQMa8AEB-AHUBoAC4AOKAgwIABABGH8gNygWMA8=&rs=AOn4CLAcAQ4hbd6AllRctXFOpt6o2WJ3Iw');
    background-size: cover;
    margin: 0;
    width: 90%;
    margin: 0 auto;
}


#nav {
    background-color: #6A5ACD;
    padding: 0.5em 0;
    margin: 1%;
}

#nav ul {
    list-style: none;
    padding: 0;
}

#nav ul li {
    display: inline;
    padding: 0.5em;
}

#nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}


#feature {
    background-color: #8CC63E;
    background-image: url('https://i.pinimg.com/originals/9c/8c/da/9c8cdaf53039c71497878c14ae6722fd.jpg'); /* Replace with desired image */
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    height: 10em;
    margin: 1%;
}

.article {
    height: 10em;
    margin-bottom: 1em;
}

.column1 {
    background-color: #FFB6C1; 
    width: 31.3%;
    float: left;
    margin: 1%;
}

.column2 {
    background-color: #DC143C; 
    width: 31.3%;
    float: left;
    margin: 1%;
}

.column3 {
    background-color: #D8BFD8;
    width: 31.3%;
    float: left;
    margin: 1%;
}

/* Footer styling */
#footer {
    background-color: #696969; 
    padding: 0.5em 0;
    margin: 1%;
    clear: both;
}

