
body {
  margin: 0;
  font-family: 'Wellfleet', serif;
  background-color: #fdd663;
  text-align: center;
  color: #333;
}

header {
  padding: 20px;
}

header h1 {
  font-size: 48px;
  color: #523620;
  margin: 0;
}

header p {
  font-size: 18px;
  color: #523620;
  margin: 0;
}

#blackboard {
  max-width: 800px;
  margin: 40px auto;
  background-color: #425a5a;
  border: 15px solid #523620;
  border-radius: 12px;
  padding: 30px;
  box-sizing: border-box;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

#output {
  color: #fff;
  text-align: left;
  flex: 1;
}

#output h2 {
  margin-top: 0;
  font-size: 24px;
  margin-bottom: 15px;
}

#output p {
  margin: 5px 0;
  font-size: 18px;
}


#teacher-img {
  width: 200px;
  height: auto;
}

@media (max-width: 700px) {
  .content {
    flex-direction: column;
  }

  #output {
    text-align: center;
  }

  #teacher-img {
    width: 150px;
    margin-top: 20px;
  }
}
